* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo img {
    max-width: 100px;
}

body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 100%);
    color: #333;
}

header {
    background-color: #ffcc00;
    padding: 8px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* About Section Styles */
#about {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin-bottom: 10px;
}

.footer-content ul {
    list-style-type: none;
}

.footer-content ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-content ul li a {
    color: #fff;
}
